/* ADD ITEM PAGE */
.add-container {
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.add-card {
    background: white;
    width: 500px;
    padding: 35px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.add-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.add-card input,
.add-card textarea,
.add-card select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.add-card textarea {
    resize: none;
    height: 100px;
}

.add-card button {
    width: 100%;
    padding: 12px;
    background: #2575fc;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.add-card button:hover {
    background: #1a5fd0;
}
