{% extends 'base.html' %}

{% block content %}

<section class="hero">

    <h1>About BidMate</h1>

    <p>

        BidMate is a student-only campus marketplace
        designed for buying, selling and bartering
        items safely within colleges.

    </p>

</section>

<div class="card">

    <div class="card-content">

        <h2>Our Mission</h2>

        <p style="margin-top:20px;">

            We help students exchange books,
            gadgets, notes, hostel essentials,
            and handmade products easily.

        </p>

        <p style="margin-top:20px;">

            BidMate supports both direct selling
            and barter exchanges between students.

        </p>

    </div>

</div>

{% endblock %}