{% extends "base.html" %}
{% block content %}

<h1>Welcome to BidMate</h1>
<p>Empowering students to buy, sell, and barter within campus securely.</p>

<input type="text" id="searchBar" onkeyup="searchItems()" placeholder="Search items...">
<div class="search-container">
    <input type="text" id="searchInput" class="search-input" placeholder="Search items...">
</div>
<div class="item-grid">
    {% for item in items %}
    <div class="card item-card" data-title="{{ item.title.lower() }}">
        <img src="{{ url_for('static', filename='uploads/' + item.image) }}" width="100%">
        <h3>{{ item.title }}</h3>
        <p>₹ {{ item.price }}</p>
        <a href="/item/{{ item.id }}"><button>View</button></a>
    </div>
    {% endfor %}
</div>

{% endblock %}