{% extends "base.html" %}
{% block content %}

<div class="hero">
    <div>
        <h1>Buy Smart. Sell Smart. Bid Better.</h1>
        <p>India's First Student Auction + Barter Marketplace</p>
        <div class="hero-buttons">
            <a href="/add_item" class="primary-btn">Sell Item</a>
        </div>
    </div>
</div>

<div class="products">
    {% for item in items %}
    <div class="card">
        <img src="{{ url_for('static', filename='uploads/' + item['image']) }}">
        <div class="card-content">
            <h3>{{ item['name'] }}</h3>
            <div class="price">₹ {{ item['price'] }}</div>
            <a href="/item/{{ item['id'] }}">View</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
