{% extends 'base.html' %}

{% block content %}

<div class="details-container">

    <div>

        <img src="{{ url_for('static',
        filename='uploads/' + item.image) }}">

    </div>

    <div class="details-content">

        <span class="category">
            {{ item.category }}
        </span>

        <h1>{{ item.title }}</h1>

        <p>
            {{ item.description }}
        </p>

        <br>

        <div class="price">
            ₹ {{ item.price }}
        </div>

        <br>

        {% if item.auction %}

            <h3>
                Highest Bid:
                ₹ {{ item.highest_bid }}
            </h3>

            <br>

            {% if current_user.is_authenticated %}

            <form method="POST"
            action="/bid/{{ item.id }}">

                <div class="bid-box">

                    <input
                    type="number"
                    name="bid_amount"
                    placeholder="Enter Bid Amount"
                    required>

                    <button class="btn">
                        Place Bid
                    </button>

                </div>

            </form>

            {% endif %}

        {% endif %}

        <br>

        {% if item.barter %}

            <div class="flash">

                Available for Barter Exchange

            </div>

        {% endif %}

    </div>

</div>

{% endblock %}