{% extends "base.html" %}
{% block content %}

<div class="detail-card">
    <h2>{{ item.title }}</h2>
    <p><strong>Category:</strong> {{ item.category }}</p>
    <p>{{ item.description }}</p>

    {% if item.is_barter %}
        <span class="barter-tag">Barter Item</span>
    {% else %}
        <h3 class="price">₹ {{ item.price }}</h3>
    {% endif %}
    <h3>Current Bid: ₹ {{ item.current_bid }}</h3>

<form method="POST" action="/bid/{{ item.id }}">
    <input type="number" step="0.01" name="bid_amount" required>
    <button type="submit" class="primary-btn">Place Bid</button>
</form>
</div>

{% endblock %}