<!DOCTYPE html>
<html>
<head>
    <title>{{ item[1] }} | BidMate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <div class="logo">BidMate</div>
    <div>
        <a href="/">Home</a>
        <a href="/add-item">Sell</a>
        <a href="/contact">Contact</a>
    </div>
</div>

<div class="detail-container">

    <div class="detail-card">
        <div class="detail-left">
            <div class="image-placeholder">
                📦 Product Image
            </div>
        </div>

        <div class="detail-right">
            <h1>{{ item[1] }}</h1>
            <h2>₹{{ item[2] }}</h2>

            <p class="category-badge">{{ item[3] }}</p>

            <p class="description">
                {{ item[4] }}
            </p>

            <button class="buy-btn">Place Bid</button>
        </div>
    </div>

</div>

</body>
</html>
