{% extends 'base.html' %}

{% block content %}

<h1>My Listings</h1>

<div class="items-grid">

    {% for item in items %}

    <div class="card">

        {% if item.image %}

        <img src="{{ item.image }}">

        {% else %}

        <img src="https://via.placeholder.com/400x250">

        {% endif %}

        <div class="card-content">

            <h2>{{ item.title }}</h2>

            <div class="price">
                ₹{{ item.price }}
            </div>

            <div class="category">
                {{ item.category }}
            </div>

            <a href="{{ url_for('delete_item',
            item_id=item.id) }}"
            class="btn"
            style="background:red;">
                Delete
            </a>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}