<nav class="navbar">

    <div class="logo">

        <a href="{{ url_for('home') }}">

            BidMate

        </a>

    </div>

    <ul class="nav-links">

        <li>
            <a href="{{ url_for('home') }}">
                Home
            </a>
        </li>

        <li>
            <a href="{{ url_for('categories') }}">
                Categories
            </a>
        </li>

        <li>
            <a href="{{ url_for('sell') }}">
                Sell
            </a>
        </li>

        <li>
            <a href="{{ url_for('contact') }}">
                Contact
            </a>
        </li>

        {% if current_user.is_authenticated %}

            <li>
                <a href="{{ url_for('profile') }}">
                    Profile
                </a>
            </li>

            <li>
                <a href="{{ url_for('logout') }}">
                    Logout
                </a>
            </li>

        {% else %}

            <li>
                <a href="{{ url_for('login') }}">
                    Login
                </a>
            </li>

            <li>
                <a href="{{ url_for('signup') }}">
                    Signup
                </a>
            </li>

        {% endif %}

    </ul>

</nav>