{% extends 'base.html' %}

{% block content %}

<div class="hero">

    <h1>Sell Your Item</h1>

    <p>
        Auction, Sell or Barter with students
    </p>

</div>

<div class="items-container">

    <div class="item-card">

        <div class="item-content">

            <h2>Browse Categories</h2>

            <p>
                Explore electronics, books,
                notes, hostel items and more.
            </p>

            <br>

            <a href="/categories">
                <button class="btn">
                    Open Categories
                </button>
            </a>

        </div>

    </div>

    <div class="item-card">

        <div class="item-content">

            <h2>Barter Exchange</h2>

            <p>
                Exchange your items with other
                students without money.
            </p>

            <br>

            <a href="/barter">
                <button class="btn">
                    Open Barter
                </button>
            </a>

        </div>

    </div>

</div>

<div class="form-container">

    <h1>Publish Item</h1>

    <form method="POST"
    enctype="multipart/form-data">

        <div class="form-group">

            <input
            type="text"
            name="title"
            placeholder="Item Title"
            required>

        </div>

        <div class="form-group">

            <textarea
            name="description"
            placeholder="Item Description"></textarea>

        </div>

        <div class="form-group">

            <select name="category">

                <option>Books</option>
                <option>Electronics</option>
                <option>Notes</option>
                <option>Hostel Items</option>
                <option>Fashion</option>
                <option>Sports</option>

            </select>

        </div>

        <div class="form-group">

            <input
            type="number"
            name="price"
            placeholder="Price"
            required>

        </div>

        <div class="form-group">

            <input
            type="file"
            name="image"
            required>

        </div>

        <div class="form-group">

            <label>

                <input type="checkbox"
                name="auction">

                Enable Auction

            </label>

        </div>

        <div class="form-group">

            <label>

                <input type="checkbox"
                name="barter">

                Enable Barter

            </label>

        </div>

        <button class="btn">
            Publish Item
        </button>

    </form>

</div>

{% endblock %}